obj/consoleappVScode.csproj.nuget.dgspec.json
obj/consoleappVScode.csproj.nuget.g.props
obj/consoleappVScode.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/consoleappVScode.AssemblyInfo.cs
obj/Debug/net6.0/consoleappVScode.AssemblyInfoInputs.cache
obj/Debug/net6.0/consoleappVScode.assets.cache
obj/Debug/net6.0/consoleappVScode.csproj.AssemblyReference.cache
obj/Debug/net6.0/consoleappVScode.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/consoleappVScode.csproj.FileListAbsolute.txt
obj/Debug/net6.0/consoleappVScode.dll
obj/Debug/net6.0/consoleappVScode.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/consoleappVScode.genruntimeconfig.cache
obj/Debug/net6.0/consoleappVScode.GlobalUsings.g.cs
obj/Debug/net6.0/consoleappVScode.pdb
obj/Debug/net6.0/ref/consoleappVScode.dll
obj/Debug/net6.0/refint/consoleappVScode.dll
bin/Debug/net6.0/consoleappVScode.deps.json
bin/Debug/net6.0/consoleappVScode.dll
bin/Debug/net6.0/consoleappVScode.exe
bin/Debug/net6.0/consoleappVScode.pdb
bin/Debug/net6.0/consoleappVScode.runtimeconfig.json
